name: Deploy Frontend
on : 
  push:
    branches:
      - master

jobs:
   build:
     runs-on: ubuntu-latest
     steps:
        - uses: actions/checkout@v2 

        - name: docker login
        - run: docker login -u{{secrets.DOCKER_USERNAME}} -p{{secrets.DOCKER_PASSWORD}}
        - run: docker build -t ayush4web/react-docker -f Dockerfile .
        - run: docker run ayush4web/react-docker 

  

        
 